<div class="field">
  <label>Title</label>
  <input type="text" name="title" value="{{ affiliate.title }}" />
</div>
<div class="field">
  <label>Link</label>
  <input type="text" name="link" value="{{ affiliate.link }}" />
</div>
<div class="field">
  <label>Description</label>
  <textarea name="description">{{ affiliate.description }}</textarea>
</div>
