{% for message in flashSuccess %}
  <div class="alert alert-success">{{ message }}</div>
{% endfor %}

{% for message in flashError %}
  <div class="ui error message" style="display: block;">{{ message }}</div>
{% endfor %}
